.site-navbar .site-logo {
  left: initial;
  right: 0;
}

.site-navbar .site-navigation .site-menu .has-children > a span {
  padding-left: 30px;
}

.site-navbar .site-navigation .site-menu .has-children > a span:before {
  right: initial;
  left: 10px;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  right: initial;
  left: 0;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-right: 20px;
  font-size: 20px;
  float: right;
}
.offcanvas-menu .site-mobile-menu {
  left: 0 !important;
}
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-float i {
  margin-top: 16px;
}

.whatsapp-popup {
  visibility: hidden;
  width: 180px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 70px;
  right: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.whatsapp-float:hover .whatsapp-popup {
  visibility: visible;
  opacity: 1;
}
